.container {
    width: 100%;
    min-height: 50vh;
    color: #1190D5;
    background-color: #FFF;
    margin-top: 20px;
}

.container h2 {
    font-size: 1.8em;
    color: #FFF;
    background-color: #1190d5;
    width: 90%;
    margin: 10px auto auto auto;
    padding: 2px;
    text-align: center;
}

.body {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.imagem {
    width: 40%;
}

.imagem img {
    width: 100%;
}

.localidades {
    width: 50%;
    font-size: 1.3em;
    font-family: 'Mulish';
}

@media screen and (max-width: 600px) {
    .body {
        flex-direction: column;
    }

    .imagem {
        width: 100%;
    }

    .localidades {
        width: 95%;
    }
}